#maindiv{
    width:900px;
    height:300px;
    display: flex;
    border:1px solid black;
    padding: 10px;;
    gap:10px;
    



}
#div1{
    border:1px solid black;
}
#div2{
    display:grid;
    gap:6px;
    grid-template-columns: auto auto;
}