.red{
    color:red;
}
.green{
    color:green;
}
.blue{
    color:blue;
}
.bg-pink{
background-color:pink ;
}
.bg-blue{
    background-color:voilet ;
}
.bg-green{
    background-color: greenyellow;
}