#maindiv{
    width: 700px;
    height:700px;
    background-color: aqua;
    display: flex;
    gap:10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}
.subdiv{
    border:1px solid black;
    width: 40px;
    height:40px;
    background-color:palevioletred;
    display:inline-block;
    
}