#box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  position: absolute;
  animation: ovingdabba 10s linear infinite;
}

@keyframes ovingdabba {
  0% {
    top: 0px;
    left: 0px;
  }
  25% {
    top: 0px;
    left: 500px;
  }

  50% {
    top: 500px;
    left: 500px;
  }

  75% {
    top: 500px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

#box2 {
  border: 1px solid black;
  font-size: x-large;
  width: 100px;
  height: 50px;
  transform: rotateZ("180deg");
}
