#d1{
    border:2px solid black;
    width: 300px;
    height: 100px;
    padding: 20px;
    margin:50px;
    font-size: 50px;
    background-color: aqua;
}
#d2{
    border:2px solid black;
    width: 300px;
    height: 100px;
    padding:40px;
    border-radius: 50%;
    font-size: 50px;
    background-color: burlywood;
    box-shadow: 5px 5px 10px 1px black;
    font-weight: 800;
}
#d2 span{
    background: linear-gradient(90deg , red ,green);
    background-clip: text;
    color: transparent;
}