* {
  margin: 0px;
  padding: 0px;
}
#aa {
  background-color: blue;
  height: 100vh;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: end;
}
.form {
  border: 1px solid black;

  background-color: antiquewhite;
  height: fit-content;
  display: grid;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 150px;
  width: 25%;
  gap: 10px;
  
}
input {
  border: none;
}
#remfor {
  display: flex;
  justify-content: space-between;
}
.check {
  display: flex;
  align-items: center;
  gap: 5px;
}
p {
  align-items: center;
}
button {
  background-color: blue;
  color: beige;
  padding: 10px;
  border-radius: 5px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
