      #bigdaddy{
            width: 700px;
    height:700px;
    background-color: aqua;
      }
    #maindiv{
    
    display:grid;
    grid-template-columns: 500px 100px 100px ;
    justify-content:center;
    align-items:center;
    justify-items:center;
    width:fit-content;
gap:10px;

}
.subdiv{
    border:1px solid black;
    width: 40px;
    height:40px;
    background-color:palevioletred;
    
    
}