#bigbox{
    width:400px;
    height:300px;
    display:grid;
    grid-template-columns:75px 75px 75px 75px  ;
    

    gap:10px;
    margin-bottom: 10px;
    padding-left: 30px;;
     padding-right: 30px;;
     margin-left:5px ;
    

}
#outter{
    width:400px;
    height:480px;
     border:1px solid black;
     background-color: black;
     align-items: center;
border-radius:15px; ;
}
.check{
    
    text-align: center;
    align-items: center;
    background-color:whitesmoke ;
    border-radius:4px;
    padding: 20px;


}
#blank{
    
    width:360px;
    height:57px;
    margin: 19px;
    border-radius:4px;
    
    background-color:whitesmoke ;

}
#cbutton{
    width: ;
    padding:
    
}