body{
    background-size:cover;
    background: url(./newimage.jpg);
}
#mainbox{
border:1px solid #000;
width:500px;
height:500px;
margin:20px auto;
padding:10px;
border-radius: 10px;
box-shadow: 2px 2px 2px 0px grey;
background-color: rgba(255,255,255,0.51);
}
#formheading{
    color:blue;
    text-align:center;
}
#loginform{
    width:fit-content;
    margin:10px auto;
}
.formfield{
    margin: 20px;
    label{
        color:blueviolet;
        font-size: large;
    }
    input{
        padding:10px;
        border-radius: 25%;
        border: 2px solid black;
        outline-color: bluevoilet;
    }
}
#formcontrol{
    text-align: center;
    button{
        margin:10px;
        padding:5px;
        border-radius: 5px;
    }
}
#cancelbutton {
  border: 1px solid #ff0000;
  background-color: #f74c4c;
  color: aliceblue;
}
#loginbutton {
  border: 1px solid #007816;
  background-color: #3c7847;
  color: aliceblue;
}
#cancelbutton:hover {
  color: #f74c4c;
  background-color: aliceblue;
}
#loginbutton:hover{
color:aliceblue;
background-color: #4cf777;
}
#cancelbutton:active {
  background-color: blue;
  color: aliceblue;
}
#loginbutton:active {  background-color: blue;  color: aliceblue;}

