    *{
margin: 0
padding: 0
    }
    
    
    .navbar{
    border: 1px solid black;
    background-color: blueviolet;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    position:sticky;
}
#links{
   display: flex; 
   gap: 20px;
}
button{
    position:fixed;
    bottom:40px;
    right:40px;

}